_doc/FormHistoryControl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="formhistory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header"/>
				<xs:element ref="fields" minOccurs="0"/>
				<xs:element ref="editorFields" minOccurs="0"/>
				<xs:element ref="editorFields-configuration" minOccurs="0"/>
				<xs:element ref="regularExpressions" minOccurs="0"/>
				<xs:element ref="formhistory-cleanup" minOccurs="0"/>
				<xs:element ref="keyBindings" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="header">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="application" type="xs:string"/>
				<xs:element name="version" type="xs:string"/>
				<xs:element name="exportDate" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="fields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="field">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="value" type="xs:string"/>
				<xs:element name="timesUsed" type="xs:integer"/>
				<xs:element name="firstUsed" type="xs:dateTime"/>
				<xs:element name="lastUsed" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="editorFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="editorField" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="editorField">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="type" type="xs:string"/>
				<xs:element name="formid" type="xs:string"/>
				<xs:element name="host" type="xs:string"/>
				<xs:element name="url" type="xs:string"/>
				<xs:element name="firstsaved" type="xs:dateTime"/>
				<xs:element name="lastsaved" type="xs:dateTime"/>
				<xs:element name="content" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="editorFields-configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="backupEnabled" type="xs:boolean"/>
				<xs:element name="saveNewIfOlder" type="xs:integer"/>
				<xs:element name="saveNewIfLength" type="xs:integer"/>
				<xs:element name="deleteIfOlder" type="xs:integer"/>
				<xs:element name="saveAlways" type="xs:boolean"/>
				<xs:element name="saveEncrypted" type="xs:boolean"/>
				<xs:element name="exceptionEnable">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="multilinenoexception"/>
							<xs:enumeration value="multilinewhitelist"/>
							<xs:enumeration value="multilineblacklist"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="exceptions" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="exceptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exception" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="exception">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="host" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="saveFormHistory-configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customSaveEnabled">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="managefhcnoexception"/>
							<xs:enumeration value="managefhcblacklist"/>
							<xs:enumeration value="managefhcwhitelist"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="exceptions" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="exceptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exception" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="exception">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="host" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="regularExpressions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="regularExpression" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="regularExpression">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="category" type="xs:string"/>
				<xs:element name="expression">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="case" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="0"/>
											<xs:enumeration value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="useFor">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="N"/>
							<xs:enumeration value="V"/>
							<xs:enumeration value="B"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="built-in"/>
							<xs:enumeration value="user-defined"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="formhistory-cleanup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cleanupCriteria"/>
				<xs:element ref="protectCriteria" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cleanupCriteria">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="general">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="daysUsedLimit">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:integer">
											<xs:attribute name="active" type="xs:boolean" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="timesUsedLimit">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:integer">
											<xs:attribute name="active" type="xs:boolean" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="cleanupOnShutdown" type="xs:boolean"/>
							<xs:element name="cleanupOnTabClose" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="nameValuePairs" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="protectCriteria">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nameValuePairs" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nameValuePairs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nameValue" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nameValue">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string"/>
				<xs:choice>
					<xs:element ref="value"/>
					<xs:sequence>
						<xs:element ref="name"/>
						<xs:element ref="value" minOccurs="0"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="regex">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="exact">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="case">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="value">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="regex">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="exact">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="case">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="keyBindings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="keyBinding" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="keyBinding">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
